.carousel-inner {
  height: 500px;
  padding: 0px;
}


.mask {
  height: 125px;
  width: 125px;
  -webkit-clip-path: circle(50% at 50% 50%);
  float: left;
  margin-right: 10px;

}

.btn:focus {
  outline: none;
}

.places, .cuisine, .sidebar, .notes {
  padding: 10px;
}

.sidebar {
  padding: 15px;
  background-color: #DDD;
  border-radius: 8px;
}

.notes {
  padding-left: 10px;
}

h1, h2, h3, h4, a {
  font-family: 'Arvo', serif;
}

p {
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;

}

.navbar {
  margin-bottom: 0;
}

#myCarousel{
  margin-bottom: 20px;
}

footer {
  background-color: #DDD;
  height: 100px;
  bottom: 0;
  margin-top: 20px;
  text-align: center;
  color: #777;
  padding-top: 20px;
}

@media screen and (max-width: 768px) and (min-width: 601px) {
  .carousel-inner {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .carousel-inner {
    height: 300px;
  }
}

@media screen and (max-width: 465px) {
  .carousel {
    display: none;
  }
}
