body { 
  padding: 10px; 
}

h1 {
  text-align: left;
  padding: 10px;
  font-size: 4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cd3700;
}

li {
    float: left;
    display: block;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar {
  margin-bottom: 0;
}

.Smask {
  height: 280px;
  width: 180px;
  -webkit-clip-path: square(50% at 50% 50%);
  float: left;
  margin-right: 10px;
}

.Cmask {
  height: 120px;
  width: 120px;
  -webkit-clip-path: circle(50% at 50% 50%);
  float: left;
  margin-right: 10px;
}

.appearances {
  color: white;
}

#float {
  float: center;
}

